.heading2{font-size: 18px;font-weight: 600;}
.filter-sec{background: #fff;border: 2px solid #ccc;padding: 5px 5px 20px; margin-top: 40px;}
.heading3{font-size: 16px;}
.hotel-row{display: flex;align-items: center;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 10px 2px #ccc;margin-bottom: 15px;}
    .hotel-row:hover{box-shadow: 0 0 10px 2px #333;}
.search-btn{background-color:#ff00ff ;color: #fff;}
.search-btn:hover{background: #333;cursor: pointer;}
.hotel-list-left {
    width: 80%;display: flex;align-items: center;
}
.hotel-list-right{text-align: right;}
.hotel-list-right .search-btn{padding: 7px 10px;border: none;border-radius: 5px;color: #fff;}
.hotel-list-right {
    width: 20%;
}
.hotel-list-icon {
    margin-right: 20px;
}
.fa-star{color: #ff00ff;}
.hotel-list-icon img{width: 100px;border: 1px solid #ccc;
    padding: 5px;}
    .toggle-icon-sec{display: flex;justify-content: flex-end;margin-bottom: 10px;}
    .toggle-icon-sec .fa{font-size: 32px;}
    .toggle-icon-sec .fa:hover{cursor: pointer;}
    

    .toggle-icon-sec .fa-indent{display: none;}
    .toggle-icon-sec.grid-view ~ .hotel-row .hotel-list-right{display: none;}
    .toggle-icon-sec.grid-view ~ .hotel-row .hotel-list-left{width: 100%;justify-content: center;}
    .toggle-icon-sec.grid-view ~ .hotel-row .hotel-detail{display: none;}
    .toggle-icon-sec.grid-view ~ .hotel-row{display: inline-block;width: 32%;
        margin-left: 10px;}


    @media screen and (max-width: 992px) {
        .toggle-icon-sec .fa-indent{display: block;}
        .toggle-icon-sec{justify-content:space-between;}
        .toggle-icon-sec.grid-view ~ .hotel-row{display: inline-block;width: 47%;
            margin-left: 5px;}
            .form-wraper .row{ flex-wrap: nowrap;}
            .form-wraper .row .col-lg-3{margin-left: -100%; transition: all 1s;}
            .form-wraper .row .col-lg-3.slideleft{margin-left: 0;transition: all 1s;}
            .slideleft + .col-lg-9 .toggle-icon-sec{margin-left: -110%;}
            .hotel-list-right{display: none;}
            .hotel-list-left{width: 100%;}
            
        }